.profile {
  width: 100vw;
  height: 100vh;
}

.profileContainer {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileBox {
  position: relative;
  width: 900px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileCard {
  position: absolute;
  top: 0;
  color: white;
  font-size: 150px;
  font-weight: bold;
  opacity: 0;
}
